######################CONFIG SECTION###########################################
## Path to the server jar file with no trailing slash /
server_path="/home/user/mc/"
## Server start command 
server_start="java -Xms3G -Xmx7G -jar ${server_path}/minecraft_server.jar"
## Server port. Change if you are running on non-standard port.
server_port=25565
## Time to wait in between server port checks. Most people do not need to change this.
server_monitor_wait_time=59
## Time to wait for the world to save after sending gentle kill to crashed server, before sending the hard kill. If the world is large adjust this to allow more time to save.
kill_sleep_seconds=60
## Name of the tmux session; Change this if you run a conflicting session
tmux_session_name=MC
## Logfile name & location for crashes detected by this script
crashlog="$server_path/detected_crashes.txt"
